.profile__edit-button {
    margin: 0;
    width: 24px;
    height: 24px;
    background-image: url(../../../images/Edit\ Button.svg);
    margin-top: 37px;
    margin-right: 244px;
}

.profile__edit-button:hover {
    opacity: 0.6;
}

@media screen and (max-width: 870px) {
    .profile__edit-button {
        margin-right: 140px;
    }
}

@media screen and (max-width: 800px) {
    .profile__edit-button {
        margin-right: 90px;
    }
}
@media screen and (max-width: 750px) {
    .profile__edit-button {
        margin-right: 50px;
    }
}

