.form__input-error {
    font-size: 12px;
    line-height: 15px;
    color: red;
    opacity: 1;
    position: absolute;
    top: 75px;
    left: 35px;
    transition: opacity 0.3s;
}

.form__input:not(:focus):invalid {
    border-bottom: 1px solid #e53e3e; 
    color: #e53e3e;
    outline: none;
}